LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com" # change to self-hosted langsmith endpoint  
LANGSMITH_API_KEY="<langsmith-api-key>"
LANGSMITH_PROJECT="tracing-concepts"
OPENAI_API_KEY="<openai-api-key>"